<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ruhul's Portfolio</title>
</head>
<body>
    <h1>Ruhul's Portfolio</h1>
    {%  for  project in projects %}
     
    <img width="250" src="{{ project.image.url }}">
    {% if project.url %}
    <a href="{{ project.url }}">Link</a>
    {% endif %}
    <h1>{{ project.title }}</h1>
    <p>{{ project.description}}</p>
    {% endfor %}
</body>
</html>